
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="~/Assert/assert2/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assert/assert2/css/style.css" rel="stylesheet" />
    <link href="~/Assert/assert2/vendor/owl-slider.css" rel="stylesheet" />
    <link href="~/Assert/assert2/vendor/settings.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Assert/assert2/images/favicon.png" />
    <script src="~/Assert/assert2/js/jquery-3.2.0.min.js"></script>
    <title>Trang chủ</title>
</head>
<body>
    <div class="awe-page-loading">
        <div class="awe-loading-wrapper">
            <div class="awe-loading-icon">
                <img src="~/Assert/assert2/images/logo.png" alt="images">
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content popup-search">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control control-search" placeholder="Tìm kiếm...">
                        <button class="button_search" type="button">Tìm kiếm</button>
                    </div><!-- /input-group -->

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- End pushmenu -->
    <div class="wrappage">
        <!-- <div id="rtl">RTL</div> -->
        <header id="header" class="header-v3 header-v2">
            <div id="topbar" class="topbar-ver2">
                <div class="container container-ver2">
                    <div class="inner-topbar box">
                        <div class="float-left">
                            <p><img src="~/Assert/assert2/images/icon-phone-header.png.png" alt="icon"> HOTLINE <span> 090-123-4567</span></p>
                        </div>
                        <div class="float-right align-right">
                            <div class="hover-menu">
                                <a class="acc" href="#" title="user"><img src="~/Assert/assert2/images/icon-user-header.png" alt="icon">TÀI KHOẢN</a>
                                <ul class="list-menu">
                                    <li><a href="#" title="USD">Đăng nhập</a></li>
                                    <li><a href="#" title="VND">Đăng ký</a></li>
                                </ul>
                            </div>
                            <!-- End hover-menu -->
                        </div>
                    </div>
                </div>
                <!-- End container -->
            </div>
            <!-- End topbar -->
            <div class="header-top">
                <div class="container container-ver2">
                    <div class="box">
                        <p class="icon-menu-mobile"><i class="fa fa-bars"></i></p>
                        <div class="logo">
                            <a href="#" title="Uno">
                                <img src="#" alt="logo">
                            </a>
                        </div>
                        <div class="logo-mobile">
                            <a href="#" title="Xanadu"><img src="~/Assert/assert2/images/logo-v2.png" alt="Xanadu-Logo"></a>
                        </div>

                        <div class="box-right">
                            <div class="cart hover-menu">
                                <p class="icon-cart" title="Giỏ hàng">
                                    <i class="icon"></i>
                                    <span class="cart-count">0</span>
                                </p>
                                <div class="cart-list list-menu">
                                    <ul class="list">
                                        <li>
                                            <a href="#" title="" class="cart-product-image"><img src="#" alt="Sản phẩm"></a>
                                            <div class="text">
                                                <p class="product-name">ABC</p>
                                                <p class="product-price"><span class="price">0</span></p>
                                                <p class="qty">Số lượng:00</p>
                                            </div>
                                            <a class="close" href="#" title="close"><i class="fa fa-times-circle"></i></a>
                                        </li>
                                    </ul>
                                    <p class="total"><span class="left">Tổng cộng:</span> <span class="right">0</span></p>
                                    <div class="bottom">
                                        <a class="link-v1" href="#" title="viewcart">Xem giỏ hàng</a>
                                        <a class="link-v1 rt" href="#" title="checkout">Thanh toán</a>
                                    </div>
                                </div>
                            </div>
                            <div class="search dropdown" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon"></i>
                            </div>
                        </div>
                        <nav class="mega-menu">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <ul class="nav navbar-nav" id="navbar">
                                <li class="level1"><a href="#" title="Trang chủ">Trang chủ</a></li>
                                <li class="level1"><a href="#" title="About us">Thông tin</a></li>
                                <li class="level1 dropdown">
                                    <a href="#" title="men">Thực phẩm</a>
                                    <div class="sub-menu sub-menu-v2 dropdown-menu">
                                        <ul class="menu-level-1">
                                            <li class="level2">
                                                <a href="#">Rau-Củ-Quả</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="Seatings">Rau xanh các loại</a></li>
                                                    <li class="level3"><a href="#" title="Tables">Hành, tỏi</a></li>
                                                    <li class="level3"><a href="#" title="Accessories">Củ, quả các loại</a></li>
                                                </ul>
                                            </li>
                                            <li class="level2">
                                                <a href="#">Trái cây</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="Lighting">Trái cây tươi</a></li>
                                                    <li class="level3"><a href="#" title="Storage">Trái cây hộp</a></li>
                                                </ul>
                                            </li>
                                            <li class="level2">
                                                <a href="#">Thịt</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="Cleaning Tools">Thịt heo</a></li>
                                                    <li class="level3"><a href="#" title="Waste Bins">Thịt bò</a></li>
                                                    <li class="level3"><a href="#" title="Pots & Pans">Thịt gà</a></li>
                                                </ul>
                                            </li>
                                            <li class="level2">
                                                <a href="#">Cá và Hải sản</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="Tables">Cá, Cá viên</a></li>
                                                    <li class="level3"><a href="#" title="Accessories">Tôm</a></li>
                                                    <li class="level3"><a href="#" title="Series">Mực</a></li>
                                                </ul>
                                            </li>
                                            <li class="level2">
                                                <a href="#">Thực phẩm khô</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="Thực phẩm khô">Đồ hộp các loại</a></li>
                                                    <li class="level3"><a href="#" title="Thực phẩm khô">Mì, nui, bún khô</a></li>
                                                    <li class="level3"><a href="#" title="Thực phẩm khô">Xúc xích, lạp xưởng</a></li>
                                                    <li class="level3"><a href="#" title="Thực phẩm khô">Đậu, nấm, đồ khô</a></li>
                                                </ul>
                                            </li>
                                            <li class="level2">
                                                <a href="#">Gia vị</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="Gia vị">Đường, muối, gia vị</a></li>
                                                    <li class="level3"><a href="#" title="Gia vị">Dầu ăn, Dầu hào</a></li>
                                                    <li class="level3"><a href="#" title="Gia vị">Nước mắm, Nước tương</a></li>
                                                    <li class="level3"><a href="#" title="Gia vị">Hạt nêm, bột ngọt</a></li>
                                                    <li class="level3"><a href="#" title="Gia vị">Tương ớt, tương đen</a></li>
                                                    <li class="level3"><a href="#" title="Gia vị">Gia vị nêm sẵn</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <!-- End RightSubMenu -->
                                    </div>
                                    <!-- End Dropdow Menu -->
                                </li>
                                <li class="level1"><a href="#" title="Lịch sử">Lịch sử</a></li>
                                <li class="level1"><a href="#" title="Liên hệ">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End container -->
            </div>
            <!-- End header-top -->
        </header><!-- /header -->
        <div class="tp-banner-container hidden-dot ver1">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE  -->
                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="6" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="~/Assert/assert2/images/banner/background-slider.jpg" alt="Futurelife-home2-slideshow" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption color-white customin randomrotateout font-ros tp-resizeme size-60 text-shadow"
                             data-x="650"
                             data-y="305"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 3">
                            Vegetables Green
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption color-white font-ros weight-300 skewfromleft customout size-20 letter-spacing-2 text-shadow"
                             data-x="505"
                             data-y="390"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4; color: white">
                            Chúng tôi luôn đem đén các loại thực phẩm tươi sống để cung cấp cho mọi người.
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromleft customout font-roc link-1 height-40 size-16"
                             data-x="865"
                             data-y="460"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 5">
                            <a href="#" title="Xem chi tiết" class="">Xem chi tiết</a>
                        </div>
                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->
                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="6" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/home1-slideshow1.jpg" alt="Futurelife-home2-slideshow" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption color-ea8800 customin randomrotateout font-ro tp-resizeme size-100 weight-300 uppercase"
                             data-x="450"
                             data-y="245"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 3; text-align:center">
                            Vegetables Green
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption color-2b2b2b font-ros weight-400 skewfromleft customout size-20 letter-spacing-2"
                             data-x="540"
                             data-y="403"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            Chúng tôi luôn đem đén các loại thực phẩm tươi sống để cung cấp cho mọi người.
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromleft customout font-roc link-1 height-40 size-16"
                             data-x="865"
                             data-y="460"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 5">
                            <a href="#" title="Xem chi tiết" class="">Xem chi tiết</a>
                        </div>
                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        `   <!-- End Slider Home2 -->
        <div class="container container-ver2">
            <div class="banner-home2 center">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <a class="hover-images" href="#" title="Trái cây">
                            <img class="img-responsive" src="~/Assert/assert2/images/banner/background-small-1.jpg" style="width: 370px; height:250px" alt="banner">
                        </a>
                    </div>
                    <!--End col-md-4-->
                    <div class="col-md-4 col-sm-4">
                        <a href="#" class="hover-images" title="Rau-Củ-Quả">
                            <img class="img-responsive" src="~/Assert/assert2/images/banner/background-small-2.jpg" style="width: 370px; height:250px" alt="banner">
                        </a>
                    </div>
                    <!--End col-md-4-->
                    <div class="col-md-4 col-sm-4">
                        <a href="#" class="hover-images" title="Thịt-Cá">
                            <img class="img-responsive" src="~/Assert/assert2/images/banner/background-small-3.jpg" style="width: 370px; height:250px" alt="banner">
                        </a>
                    </div>
                    <!--End col-md-4-->
                </div>
            </div>
        </div>
        <!--End Banner Home 2 -->
        <div class="container container-ver2">
            <div class="choose-us choose-us-home2">
                <div class="col-md-4">
                    <img class="img-responsive hidden-table" src="~/Assert/assert2/images/banner/6.jpg" alt="banner">
                </div>
                <!--End col-md-4-->
                <div class="col-md-8">
                    <div class="title-choose align-center">
                        <h3><span>Chúng tôi là </span>Vegetables Green</h3>
                        <p>The fact of the matter is that you really know something's organic when you find bugs! they obviously wouldn't have made it that far in a non-organic growing environment, so better than any certification or seal on a package, the presence of creatures let you know the plant was healthy and</p>
                    </div>
                    <!--End title-choose-->
                    <div class="align-center border-choose">
                        <div class="images">
                            <img src="~/Assert/assert2/images/bg-border-center.png" alt="icon">
                        </div>
                    </div>
                    <!--End border-choose-->
                    <div class="shipping-v2 home3-shiping home2-shipping">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="border">
                                <img src="~/Assert/assert2/images/icon-shipping-1.png" alt="images">
                                <h3>Free Ship</h3>
                                <p>Hoá đơn trên 500.000VNĐ</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="border">
                                <img src="~/Assert/assert2/images/icon-shipping-2.png" alt="images">
                                <h3>HỖ TRỢ</h3>
                                <p>24/7</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="border">
                                <img src="~/Assert/assert2/images/icon-shipping-3.png" alt="images">
                                <h3>ĐỐI TÁC</h3>
                                <p>Hợp tác</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="border">
                                <img src="~/Assert/assert2/images/icon-shipping-4.png" alt="images">
                                <h3>LIÊN HỆ</h3>
                                <p>+84 (0) 123 4567</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End col-md-8-->
            </div>
        </div>
        <!--End Shipping Version 2-->
        <br />
        <br />
        <div class="align-center border-choose">
            <div class="images">
                <img src="~/Assert/assert2/images/bg-border-center.png" alt="icon">
            </div>
        </div>
        <br />
        <br />
        <!--End bg-slider-->
        <div class="container">
            <div class="title-text-v2">
                <h3>SẢN PHẨM</h3>
            </div>
            <div class="featured-products home_2 new-arrivals lastest">
                <ul class="tabs tabs-title">
                    <li class="item" rel="tab_1">Tất cả</li>
                    <li class="item" rel="tab_2">Rau-Củ-Quả</li>
                    <li class="item" rel="tab_3">Trái cây</li>
                    <li class="item" rel="tab_4">Thịt-Cá</li>
                    <li class="item" rel="tab_5">Gia vị</li>
                    <li class="item" rel="tab_6">Đồ khô</li>
                </ul>
                <div class="tab-container space-10">
                    <div id="tab_1" class="tab-content">
                        <div class="products hover-shadow ver2 border-space-product">
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="~/Assert/assert2/images/products/featured/1.jpg" alt="" />
                                        <img class="secondary_image" src="~/Assert/assert2/images/products/featured/1.jpg" alt="" />
                                    </a>
                                    <div class="action">
                                        <a class="add-cart" href="#" title="Add to cart"></a>
                                        <a class="wish" href="#" title="Wishlist"></a>
                                        <a class="zoom" href="#" title="Quick view"></a>
                                    </div>
                                    <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">BlueBerry</p></a>
                                <p class="product-price-old">$700.00</p>
                                <p class="product-price">$350.00</p>

                            </div>
                            <!-- End item -->
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_2" class="tab-content">
                        <div class="products hover-shadow ver2 border-space-product">
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="~/Assert/assert2/images/products/featured/1.jpg" alt="" />
                                        <img class="secondary_image" src="~/Assert/assert2/images/products/featured/1.jpg" alt="" />
                                    </a>
                                    <div class="action">
                                        <a class="add-cart" href="#" title="Add to cart"></a>
                                        <a class="wish" href="#" title="Wishlist"></a>
                                        <a class="zoom" href="#" title="Quick view"></a>
                                    </div>
                                    <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">$700.00</p>
                                <p class="product-price">$350.00</p>
                            </div>
                            <!-- End item -->
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_3" class="tab-content">
                        <div class="products ver2 hover-shadow border-space-product">
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="~/Assert/assert2/images/products/featured/1.jpg" alt="" />
                                        <img class="secondary_image" src="~/Assert/assert2/images/products/featured/1.jpg" alt="" />
                                    </a>
                                    <div class="action">
                                        <a class="add-cart" href="#" title="Add to cart"></a>
                                        <a class="wish" href="#" title="Wishlist"></a>
                                        <a class="zoom" href="#" title="Quick view"></a>
                                    </div>
                                    <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">$700.00</p>
                                <p class="product-price">$350.00</p>

                            </div>
                            <!-- End item -->
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_4" class="tab-content">
                        <div class="products ver2 hover-shadow border-space-product">
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="~/Assert/assert2/images/products/featured/1.jpg" alt="" />
                                    </a>
                                    <div class="action">
                                        <a class="add-cart" href="#" title="Add to cart"></a>
                                        <a class="wish" href="#" title="Wishlist"></a>
                                        <a class="zoom" href="#" title="Quick view"></a>
                                    </div>
                                    <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">$700.00</p>
                                <p class="product-price">$350.00</p>

                            </div>
                            <!-- End item -->
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_5" class="tab-content">
                        <div class="products ver2 hover-shadow border-space-product">
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="~/Assert/assert2/images/products/featured/1.jpg" alt="" />
                                        <img class="secondary_image" src="~/Assert/assert2/images/products/featured/1.jpg" alt="" />
                                    </a>
                                    <div class="action">
                                        <a class="add-cart" href="#" title="Add to cart"></a>
                                        <a class="wish" href="#" title="Wishlist"></a>
                                        <a class="zoom" href="#" title="Quick view"></a>
                                    </div>
                                    <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">$700.00</p>
                                <p class="product-price">$350.00</p>

                            </div>
                            <!-- End item -->
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_6" class="tab-content">
                        <div class="products ver2 hover-shadow border-space-product">
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="~/Assert/assert2/images/products/featured/1.jpg" alt="" />
                                        <img class="secondary_image" src="~/Assert/assert2/images/products/featured/1.jpg" alt="" />
                                    </a>
                                    <div class="action">
                                        <a class="add-cart" href="#" title="Add to cart"></a>
                                        <a class="wish" href="#" title="Wishlist"></a>
                                        <a class="zoom" href="#" title="Quick view"></a>
                                    </div>
                                    <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">$700.00</p>
                                <p class="product-price">$350.00</p>

                            </div>
                            <!-- End item -->
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                </div>
            </div>
            <div class="box center space-padding-tb-30 space-30">
                <a class="link-v1 color-brand font-300" href="#" title="Xem tất cả">Xem tất cả</a>
            </div>
        </div>
        <!-- End container-ver2 -->
        <div class="special bg-images special-v2 box" style="background-image: url('~/Assert/assert2/images/home1-banner1.jpg'); background-repeat: no-repeat;">
            <div class="col-md-7 float-left align-right">
                <img class="images-logo" src="~/Assert/assert2/images/home1-images-banner1-2.png" alt="images">
            </div>
            <!-- End col-md-7 -->
            <div class="col-md-5 float-right">
                <div class="special-content align-center">
                    <p>Ưu đãi đặc biệt</p>
                    <h3>Giảm ngay 10%</h3>
                    <h5>Hoá đơn trên 500.000 VNĐ</h5>
                    <div class="time" data-countdown="countdown" data-date="04-20-2017-10-20-30"></div>
                    <a class="link-v1 color-brand" href="#" title="shopnow">Mua ngay</a>
                </div>
            </div>
            <!-- End col-md-5 -->
        </div>
        <!-- End container -->
        <div class="container container-ver2 blog-home1">
            <div class="title-text-v2">
                <div class="icon-title align-center space-20">
                    <img src="~/Assert/assert2/images/title-lastest-from.png" alt="icon-title">
                </div>
                <h3>Mặt hàng mới</h3>
                <a class="link" href="#" title="See all">Xem tất cả</a>
            </div>
            <!-- End title -->
            <div class="blog-content owl-carousel slider-three-item">
                <div class="item">
                    <a class="hover-images" href="#" title="images">
                        <img class="img-responsive" src="~/Assert/assert2/images/ImgBlog/4.jpg" alt="blog">
                    </a>
                </div>
                <!-- End item -->
                <div class="item">
                    <a class="hover-images" href="#" title="images">
                        <img class="img-responsive" src="~/Assert/assert2/images/ImgBlog/4.jpg" alt="blog">
                    </a>
                </div>
                <!-- End item -->
                <div class="item">
                    <a class="hover-images" href="#" title="images">
                        <img class="img-responsive" src="~/Assert/assert2/images/ImgBlog/4.jpg" alt="blog">
                    </a>
                </div>
                <!-- End item -->
            </div>
            <!-- End blog-content owl-carousel -->
        </div>
        <!-- End container -->
        <div id="back-to-top">
            <i class="fa fa-long-arrow-up"></i>
        </div>
        <footer id="footer" class="footer-v3 align-left">
            <div class="container container-ver2">
                <div class="footer-inner">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h3 class="title-footer">Về chúng tôi</h3>
                            <p>Với sứ mệnh đem đến những loại những phẩm ngon, bổ, rẻ và đảm bảo an toàn vệ sinh thực phẩm đến tay người tiêu dùng...</p>
                            <a class="link-footer" href="#" title="footer">Xem thêm <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <h3 class="title-footer">Thông tin</h3>
                            <ul class="list-footer">
                                <li><a href="#" title="title">Điều khoản</a></li>
                                <li><a href="#" title="title">Về chúng tôi</a></li>
                                <li><a href="#" title="title">Bảo mật thanh toán</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3 class="title-footer">Liên kết</h3>
                            <div class="social space-30">
                                <a href="#" title="t"><i class="fa fa-twitter"></i></a>
                                <a href="#" title="f"><i class="fa fa-facebook"></i></a>
                                <a href="#" title="y"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" title="g"><i class="fa fa-google"></i></a>
                            </div>
                            <h3 class="title-footer">Loại thanh toán</h3>
                            <a href="#" title="paypal"><img src="~/Assert/assert2/images/paypal-footer.png" alt="images"></a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h3 class="title-footer">Phản hồi</h3>
                            <div class="subscribe">
                                <form action="#" method="get" accept-charset="utf-8">
                                    <input type="text" onblur="if (this.value == '') {this.value = 'Enter Your Email Address';}" onfocus="if(this.value != '') {this.value = '';}" value="Enter Your Email Address" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                                    <button class="button button1 hover-white" title="Subscribe" type="submit">Gửi yêu cầu<i class="fa fa-long-arrow-right"></i></button>
                                </form>
                            </div>
                            <!-- End subscribe -->
                        </div>
                    </div>
                    <!-- End row -->
                </div>
                <!-- End footer-inner -->
            </div>
            <!-- End container -->
            <div class="footer-bottom box">
                <div class="container container-ver2">
                    <div class="box bottom">
                        <p class="float-left">Copyright &copy;2016 Fresh Food - All Rights Reserved.</p>
                        <div class="float-right">
                            <ul class="menu-bottom-footer">
                                <li><a href="#" title="Contact Us">Liên hệ</a></li>
                                <li><a href="#" title="Term of Use">Điều khoản sử dụng</a></li>
                                <li><a href="#" title="Privacy Policy">Chính sách bảo mật</a></li>
                                <li><a href="#" title="Site Map">Bản đồ</a></li>
                            </ul>
                            <div class="language">
                                <span>Ngôn ngữ:</span>
                                <div class="hover-menu">
                                    <p>EN <i class="fa fa-angle-down"></i></p>
                                    <div class="list-menu">
                                        <ul>
                                            <li><a href="#" title="EN">EN</a></li>
                                            <li><a href="#" title="VN">VN</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <span>Giá:</span>
                                <div class="hover-menu">
                                    <p>USD <i class="fa fa-angle-down"></i></p>
                                    <div class="list-menu">
                                        <ul>
                                            <li><a href="#" title="USD">USD</a></li>
                                            <li><a href="#" title="VND">VND</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End language -->
                        </div>
                    </div>
                </div>
                <!-- End container -->
            </div>
        </footer>
    </div>
    <!-- End wrappage -->
    <script src="~/Assert/assert2/js/bootstrap.min.js"></script>
    <script src="~/Assert/assert2/js/owl.carousel.min.js"></script>
    <script src="~/Assert/assert2/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Assert/assert2/js/jquery.themepunch.plugins.min.js"></script>
    <script src="~/Assert/assert2/js/engo-plugins.js"></script>

    <script src="~/Assert/assert2/js/slick.min.js"></script>
    <script src="~/Assert/assert2/js/store.js"></script>
</body>
</html>